.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #000000;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-contact {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
    background-color: rgb(187, 0, 0);
    color: white;
}

.nav-contact:hover {
    background-color: #ffffff;
    color: #000000;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

@media (max-width: 600px) {
    .nav-links {
      display: none;
    }
  
    .navbar {
      padding: 10px 20px;
    }

}