@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-div {
    background-image: url(https://backiee.com/static/wallpapers/1000x563/363481.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}


.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.header-body p {
    font-size: 1rem;
}


.stats {
    display: flex;
    justify-content: space-around;
}


h2 {
    font-size: 1.5rem;
    margin: 0;
}

small {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}


#video {
    text-align: center;
    padding: 20px 0;
}


.specs {
    padding: 20px;
}

.specs ul {
    max-width: 600px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.specs ul li {
    padding: 1em 0;
    border-bottom: 1px #000000 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics {
    display: flex;

}

.about, .interior {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: black;
}
