@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');

.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://w0.peakpx.com/wallpaper/730/721/HD-wallpaper-porsche-rwb-concept-porsche-cars-behance.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;


  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.966) 0%, rgba(0,0,0,0) 60%);
    z-index: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.content {
  text-align: center;
  color: white;
  z-index: 3;
}

.content p {
  font-family: monospace;
  font-size: 0.8rem;
}

.content h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 20px;
}



.discover-btn {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: 1px solid;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
  cursor: pointer;
}

.discover-btn:hover {
  color: #93c6f0;
}

.discover-btn::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(60deg, rgb(255, 0, 85), rgba(25, 44, 255, 0.8), rgba(39, 0, 211, 0.849));
  background-size: 200% 200%;
  animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.model-showcase {
  padding: 20px;
  text-align: center;
  background-color: #000000;
}

.model-showcase h2 {
  color: #ffffff;
  font-family: orbitron;
  margin-top: 20px;
  margin-bottom: 20px;
}

.model-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0; 
  border-radius: 20px;
}


.background-image2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(223, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;

}

.specs-section, .team-section {
  padding: 20px;
  background-color: #000000;
  font-family: orbitron;
}
.spec {
  margin: 10px;
  padding: 15px;
  border-bottom: 1px solid white;}

  
.spec h3, p {
  color: #f1ecec;
}


@media (max-width: 768px) {
  .content h1 {
    font-size: 2rem;
  }
  
  .content p {
    font-size: 1rem;
  }
  
  .discover-btn {
    padding: 8px 20px;
    font-size: 0.9rem;
  }

}